<p>Cloud: Windows Azure, AWS</p>
<p>Languages: C#, Java, Visual Basic .NET, embedded C, Assembly </p>
<p>Back-end: REST, SOAP, WCF services</p>
<p>Front-end: Windows Forms, ASP.NET MVC, ASP.NET Web Forms</p>
<p>Frameworks: .NET, Spring Boot</p>
<p>Databases: SQL Server, PostreSQL, Access</p>
<p>IDE: Visual Studio 2019, IntelliJ IDEA, MPLAB</p>
<p>Web: HTML, XML</p>
<p>Reports: SQL Server Reporting Services, SAP Crystal Reports</p>
<p>Source Control: Git, Team Foundation Server</p>
<p>Electronics: Microcontrollers, Digital Design</p>